h1{
    color:rgb(53, 123, 180);
    text-align: center;
    font-family: Tahoma;  /*'Franklin Gothic Medium'*/
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

header{
    display: flex;
    background-color: rgb(245, 245, 207);
    width: 100%;
    padding: 20px;
    flex-wrap:wrap ;
    border-top: 0px;
    justify-content: center;
    align-items: center;
}

    /*a
    justify-content: space-between;
    align-items: center;
    */ 


body{
    background-color: #c4e5eb;
    margin:0;
}

#content{
    box-sizing: border-box;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    gap: 100px;
    margin: 0 auto;
    padding: 0 20px;
}

#box{
    box-sizing: border-box;
    width: 500px;
    height: 400px;
}

.principal-tittle{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

h3{
    color:rgb(53, 123, 180);
    font-family:'Trebuchet MS';
    font-weight: bold;
    font-size: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width:768px){
    #content{
        flex-direction: column;
        align-items: center;
    } 

    #box{
        width: 90%;
    }

    h3{
        width: 80%;
    }
}